.main-container {
  width: 768px;
  padding-bottom: 90px;
  display: inline-grid;
  gap: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-top: 32px;
}

.header h1 {
  font-size: 28px;
  font-weight: 600;
}

.btn-reset {
  font-size: 14px;
  font-weight: 400;
  color: #8A93A3;
  text-decoration: none;
  border: none;
  background: none;
}

.items-list {
  display: grid;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.item {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  border-bottom: 1px solid #ECEFF4;
}


.listed-item {
  position: relative;
  list-style: none;
}

.trash {
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: #C6CDD7;
  text-decoration: none;
}

.trash:hover {
  color: rgb(219, 57, 57);
}

.trash-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}


.item-description {
  display: flex;
  width: 400px;
  align-items: center;
}

.product-image {
  width: 100px;
  height: 100px;
}

.product-name {
  margin-left: 12px;
  font-weight: 400;
  font-size: 14px;
}

.quantity {
  display: flex;
  align-items: center;
  width: 84px;
  height: 32px;
  justify-content: center;
  background-color: #F8F8F9;
  border-radius: 6px;
}

.minus, .plus {
  width: 24px;
  font-size: small;
  color: #1E1E3C;
}

.minus-div, .plus-div {
  height: 24px;
}

.minus-div:hover, .plus-div:hover {
  background-color: rgb(222, 196, 196);
  border-radius: 5px;
}

.quantity-number {
  width: 28px;
  font-weight: 700;
  font-size: 16px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
}

.summary {
  display: grid;
  gap: 12px;
  height: 191px;
  border: 1px solid #ECEFF4;
  border-radius: 8px;
  padding: 16px;
  column-gap: 12px;
}

.summary p {
  font-size: 13px;
  margin: 0;
}

.summary h4 {
  font-weight: 600;
  font-size: 16px;
}

.summary hr {
  background-color: #ECEFF4;
  border-top: 1px;
  height: 1px;
  width: 736px;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  height: 24px;
  align-items: center;

}

.total-quantity {
  font-weight: 400;
}


.slider-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  margin-top:4px;
}

.slider-text h4 {
  color: #16A34A;
  margin: 0;
}

.slider {
  position: relative;
  height: 38px;
  display: grid;
  align-items: center;
}

.slider-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  height: 4px;
  border-radius: 4px;
  background-color: #16A34A;
}

.slider-circle {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  border-radius: 30px;
  padding: 8px;
  background-color: #16A34A;
  box-sizing: border-box;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.total p {
  font-weight: 600px;
  font-size: 16px;
  color: #1E1E3C;
}

.total h2 {
  font-weight: 700;
  font-size: 22px ;
}

.order-btn {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #16A34A;
  color: white;
}

.order-btn h5 {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

.hidden {
  display: none;
}

.openbox {
  width: 48px;
  height: 42px;
  font-size: 48px;
  color: #C6CDD7;
}

.empty-cart-message {
  display: grid;
  margin-top: 32px;
  height: 292px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.empty-cart {
  text-align: center;
}

.empty-cart-text {
  display:grid;
  gap: 8px;
  height: 60px;
  margin-top: 24px;
}

.empty-cart-text h2 {
  font-weight: 600;
  font-size: 22px;
  margin: 0;
  height: 32px;
}

.empty-cart-text h5 {
  font-weight: 400;
  font-size: 14px;
  color: #515767;
  margin: 0;
  height: 20px;
}
