<div class="empty-cart-message">
  <div class="empty-cart">
    <i class="fa-solid fa-box-open openbox"></i>
    <div class="empty-cart-text">
      <h2>The cart is empty</h2>
      <h5>Add items from the catalog</h5>
    </div>
  </div>
</div>
