<div class="summary" id="summary">
  <div>
    <div class="subtotal">
      <p class="total-quantity" id="totalcount"
      data-totalcount-target="newTotalQuantity">
      <%= @products.sum(&:number) %> items
      </p>
      <h4 class="first-total"
      data-totalcount-target="subtotal">
      <% subTotal = @products.sum { |product| product.price.to_i * product.number.to_i } %>
        $<%= subTotal %>
      </h4>
    </div>

    <div class="slider-text">
      <p>Move the slider to specify the discount amount</p>
      <h4>$25</h4>
    </div>
  </div>

  <div class="slider">
    <div class="slider-line"></div>
    <div class="slider-circle"></div>
  </div>
  <div><hr></div>
  <div class="total">
    <h4>Total</h4>
    <h2 class="total-price" id="cart-total">$<%= subTotal - 25 %></h2>
  </div>
</div>
